{% extends 'layout.html' %} {% block body %}

<style>
  .mt-0 {
  margin-top: 50 !important;
  
}
</style>


<div class="container py-2 mx-auto my-50 h-10 " style="margin: 12rem;">
  <div class="row">
      <div class="col-sm py-2 py-md-3">
          <div class="card card-body" style="justify-content: center; background:#ff9900">
               <h1 class="text-center"><b>You should grow <i>{{ prediction }} </i>in your farm</b></h1>
          </div>
      </div>
  </div>
</div>
{% endblock %}
