
{% extends 'layout.html' %} {% block body %}


<div class="container py-2 mx-auto my-50 h-10 " style="margin: 9rem;background:#0066ff url("static/Core.jpg") no-repeat right top;">
  <div class="row">
      <div class="col-sm py-2 py-md-3">
          <div class="card card-body" style="justify-content: center; background-color:#0066ff">
            <p class="text-center" style="color: black; font-size: 22px;">{{ prediction }}</p>
          </div>
      </div>
  </div>
</div>
{% endblock %}