{% extends 'layout.html' %}

{% block body %}
<!-- banner -->
<section class="banner_w3lspvt" id="home">
	<div class="csslider infinity" id="slider1">
	
				<div class="banner-top" >
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center" style="margin-top:0px; padding-top:25px;">
								<div id="demotext" style=" margin-top:0px; padding-top:25px;
text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5, 28px -8px 20px rgba(110,215,31,0);
color: #e67300;

font-size: 76px; 

"><b><b><strong><i>INDIAN AI <spam style="font-size: 58px; color:#089C12; font-family: ">AGRICULTURE </spam> SYSTEM</i></strong></b></b></div>
								<h4 class="text-wh mx-auto my-4"><b>Get informed decisions about your farming strategy.</b></h4>
								<br>
								<h4 class="text-wh mx-auto my-4"><strong> Here are some questions we'll answer</strong></h4>
								<p class="text-li mx-auto mt-2">
									1. What crop to plant here? <br>
									2. Which disease do your crop have?<br>
									3. How to cure the disease?</p>
							</div>
						</div>
					</div>
				</div>
	</div>
</section>
<!-- //banner -->

<!-- core values -->
<section class="core-value py-5">
	<div class="container py-md-4">
		<h3 class="heading mb-sm-5 mb-4 text-center"> About Us</h3>
		<div class="row core-grids">
			<div class="col-lg-6 core-left">
				<img src="{{ url_for('static', filename='Core.jpg') }}" class="img-fluid" alt="" />
			</div>
			<div class="col-lg-6 core-right">
				<p>We hereby declare that the work which is being presented in this project 
entitled <span style="font-family: arial; font-size: 23px; color:#0ABB24;">"INDIAN AI AGRICULTURE SYSTEM" </span> in the partial fulfilment of the requirements for the award of the degree of BACHELOR OF 
TECHNOLOGY and submitted in the DISCIPLINE OF <span style="font-family: arial; font-size:20px; color: #DE6817;"> Computer Science & Engineering, Sitamarhi Institute of Technology Sitamarhi </span> , is an authentic record of our own work carried out during the time period from 
April 2021 to July 2021 under the guidance of <spam style="font-family: arial; font-size: 22px; color:#0ABB24;"> Prof. -Md. Iftekhar
Ahmad </spam> , INSPIRE faculty, discipline of Computer Science & Engineering.

</p>
				<h3 class="mt-4">Improving Agriculture, Improving Lives, Cultivating Crops To Make Farmers Increase
					Profit.</h3>
				<p class="mt-3">We use state-of-the-art machine learning and deep learning technologies to help you
					guide through
					the entire farming process. Make informed decisions to understand the demographics of your area,
					understand the
					factors that affect your crop and keep them healthy for a super awesome successful yield.</p>
			</div>
		</div>
	</div>
</section>
<!-- //core values -->

<!-- Products & Services -->
<section class="blog py-5">
	<div class="container py-md-5">
		<h3 class="heading mb-sm-5 mb-4 text-center"> Our Services</h3>
		<div class="row blog-grids">
			<div class="col-lg-4 col-md-6 blog-left mb-lg-0 mb-sm-5 pb-lg-0 pb-5">
				<a href="{{ url_for('crop_recommend') }}">
				<img border="0" src="{{ url_for('static', filename='CropRec.png') }}" class="img-fluid" alt="Crop Recommendation System" />
				</a>
			</div>
			
			<div class="col-lg-4 col-md-6 blog-right mt-lg-0 mt-5 pt-lg-0 pt-md-5">

				<a href="{{ url_for('disease_prediction') }}">
				<img border="0" src="{{ url_for('static', filename='DiseaseDet.png') }}" class="img-fluid" alt="Crop Disease Detection System" />
				</a>
			</div>
		</div>
	</div>
</section>

	  <section class="team">
  	 <div class="container">
  	 	  <h1 style="color: #4DB212" >SIT STAR</h1>
        
  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="{{ url_for('static', filename='saloni.jpg')}}" />
  	 	  	  	  <h4>Saloni Kumari</h4>
  	 	  	  	  <h5>Data Scientist</h5>
  	 	  	  	  <p>Looking forward to work in a competitive environment as a data scientist that enhance my over all learning </p>
                 <div id="social-links">
                                   <a href="" target="_blank"><span class="fa fa-facebook"></span></a>
                                   <a href="" target="_blank"><span class="fa fa-twitter" ></span></a>
                                   <a href="https://www.linkedin.com/in/nidhi345678/" target="_blank"><span class="fa fa-linkedin" ></span></a>
                                   <a href="" target="_blank"><span class="fa fa-instagram"></span></a>
                               </div>
  	 	  	  </div>
  	 	  </div>
  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="{{ url_for('static', filename='alok.jpg')}}" />
  	 	  	  	  <h4>Alok Kumar</h4>
  	 	  	  	  <h5>Hacker/Data Scientist</h5>
  	 	  	  	  <p>Looking to join Python Development as a Data Scientist to provide a variety of solutions, including AI, ML and DL </p>
                 <div id="social-links">
                                   <a href="https://www.facebook.com/aloksp.suryaprakash" target="_blank"><span class="fa fa-facebook"></span></a>
                                   <a href="https://www.ds-with-alok.in/" target="_blank"><span class="fa fa-globe" ></span></a>
                                   <a href="https://www.linkedin.com/in/alok-kumar-b69b421a6/" target="_blank"><span class="fa fa-linkedin"></span></a>
                                   <a href="https://www.instagram.com/alokspsuryaprakash/?hl=en" target="_blank"><span class="fa fa-instagram"></span></a>
                               </div>
  	 	  	  </div>
  	 	  </div>
  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="{{ url_for('static', filename='neeraj.jpg')}}" />
  	 	  	  	  <h4>Neeraj Kumar</h4>
  	 	  	  	  <h5>ML Specialist</h5>
  	 	  	  	  <p>Looking for a job where I can learn new things and in-plant it practically.  Interested to learn new technologies<br><br></a></p>
                 <div id="social-links">
                                   <a href="https://m.facebook.com/Neeraj.kumar.Nihal?ref=bookmarks" target="_blank"><span class="fa fa-facebook"></span></a>
                                   <a href="" target="_blank"><span class="fa fa-twitter" ></span></a>
                                   <a href="https://www.linkedin.com/in/neeraj-baitha-ab71201b9" target="_blank"><span class="fa fa-linkedin"></span></a>
                                   <a href="" target="_blank"><span class="fa fa-instagram"></span></a>
                               </div>
  	 	  	  </div>
  	 	  </div>
  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="{{ url_for('static', filename='punit.jpg')}}" />
  	 	  	  	  <h4>Punit Kumar</h4>
  	 	  	  	  <h5>Python Specialist</h5>
  	 	  	  	  <p>Studying Computer Science Engineering at Sitamarhi Institute of Technology, Sitamarhi, Bihar<br><br></p>
                 <div id="social-links">
                                   <a href="https://www.facebook.com/profile.php?id=100014581953155"><span class="fa fa-facebook" target="_blank"></span></a>
                                   <a href="https://twitter.com/PunitKumarSoni6?s=08" target="_blank"><span class="fa fa-twitter" ></span></a>
                                   <a href="https://www.linkedin.com/in/punit-kumar-176b641aa" target="_blank"><span class="fa fa-linkedin"></span></a>
                                   <a href="https://www.instagram.com/p/CFMo0HzFXOf/?igshid=1c4j8ggan317f" target="_blank"><span class="fa fa-instagram"></span></a>
                               </div>
  	 	  	  </div>
  	 	  </div>
  	 </div>
  </section>
<section style="background-color: #22252a">
	<p>-</p>
</section>

</html>

{% endblock %}