<!DOCTYPE html>
<html>
<head>
	<title>team SIT Star</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='team_style.css')}}">

</head>
<body>

  <section class="team">
  	 <div class="container">
  	 	  <h1 style="color: #4DB212" >SIT STAR</h1>

  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="{{ url_for('static', filename='saloni.jpg')}}" />
  	 	  	  	  <h4>Saloni Kumari</h4>
  	 	  	  	  <h5>Data Scientist</h5>
  	 	  	  	  <p>Looking forward to work in a competitive environment as a data scientist that enhance my over all learning </p>
                 <div id="social-links">
                                   <a href=""><span class="fa fa-facebook"></span></a>
                                   <a href=""><span class="fa fa-twitter" ></span></a>
                                   <a href="https://www.linkedin.com/in/nidhi345678/"><span class="fa fa-linkedin"></span></a>
                                   <a href=""><span class="fa fa-instagram"></span></a>
                               </div>
  	 	  	  </div>
  	 	  </div>
  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="{{ url_for('static', filename='alok.jpg')}}" />
  	 	  	  	  <h4>Alok Kumar</h4>
  	 	  	  	  <h5>Hacker/Data Scientist</h5>
  	 	  	  	  <p>Looking to join Python Development as a Data Scientist to provide a variety of solutions, including AI, ML and DL </p>
                 <div id="social-links">
                                   <a href="https://www.facebook.com/aloksp.suryaprakash"><span class="fa fa-facebook"></span></a>
                                   <a href="https://twitter.com/AlokSP3"><span class="fa fa-twitter" ></span></a>
                                   <a href="https://www.linkedin.com/in/alok-kumar-b69b421a6/"><span class="fa fa-linkedin"></span></a>
                                   <a href="https://www.instagram.com/alokspsuryaprakash/?hl=en"><span class="fa fa-instagram"></span></a>
                               </div>
  	 	  	  </div>
  	 	  </div>
  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="{{ url_for('static', filename='neeraj.jpg')}}" />
  	 	  	  	  <h4>Neeraj Kumar</h4>
  	 	  	  	  <h5>ML Specialist</h5>
  	 	  	  	  <p>Looking for a job where I can learn new things and in-plant it practically.  Interested to learn new technologies</a></p>
                 <div id="social-links">
                                   <a href="https://m.facebook.com/Neeraj.kumar.Nihal?ref=bookmarks"><span class="fa fa-facebook"></span></a>
                                   <a href=""><span class="fa fa-twitter" ></span></a>
                                   <a href="https://www.linkedin.com/in/neeraj-baitha-ab71201b9"><span class="fa fa-linkedin"></span></a>
                                   <a href=""><span class="fa fa-instagram"></span></a>
                               </div>
  	 	  	  </div>
  	 	  </div>
  	 	  <div class="card">
  	 	  	  <div class="box">
  	 	  	  	  <img src="{{ url_for('static', filename='punit.jpg')}}" />
  	 	  	  	  <h4>Punit Kumar</h4>
  	 	  	  	  <h5>Python Specialist</h5>
  	 	  	  	  <p>Studying Computer Science Engineering at Sitamarhi Institute of Technology, Sitamarhi Bihar<br></p>
                 <div id="social-links">
                                   <a href="https://www.facebook.com/profile.php?id=100014581953155"><span class="fa fa-facebook"></span></a>
                                   <a href="https://twitter.com/PunitKumarSoni6?s=08"><span class="fa fa-twitter" ></span></a>
                                   <a href="https://www.linkedin.com/in/punit-kumar-176b641aa"><span class="fa fa-linkedin"></span></a>
                                   <a href="https://www.instagram.com/p/CFMo0HzFXOf/?igshid=1c4j8ggan317f"><span class="fa fa-instagram"></span></a>
                               </div>
  	 	  	  </div>
  	 	  </div>
  	 </div>
  </section>

</body>
</html>